<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h3>Edit your listings</h3>
    <form method="POST" action="/listings/<%=listing._id%>?_method=PUT">
        <input name="listing[title]"  value="<%=listing.title%>">
        <br>
        <textarea name="listing[description]"><%=listing.descrption%></textarea>
    <br>
    <input name="listing[image]"  value="<%=listing.image%>">
    <br>
    <input name="listing[price]"  value="<%=listing.price%>">
   <br> 
    <input name="listing[country]"  value="<%=listing.country%>">
    <br>
    <input name="listing[location]"  value="<%=listing.location%>">
    </form>
    
</body>
</html>