<% layout("layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <body>
      <h3>Edit your listings</h3>
      <br />
      <form
        method="POST"
        action="/listings/<%=listing._id%>?_method=PUT"
        novalidate
        class="needs-validation"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            name="listing[title]"
            value="<%= listing.title %>"
            type="text"
            class="form-control"
            required
            id="title"
          />
          <div class="valid-feedback">Title looks good!</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="listing[description]"
            class="form-control"
            required
            id="description"
            rows="4"
          >
<%= listing.description %> </textarea
          >
          <div class="invalid-feedback">please enter a short description</div>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Image URL</label>
          <input
            name="listing[image][url]"
            value="<%= listing.image %>"
            type="url"
            class="form-control"
            required
            id="image"
          />
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              name="listing[price]"
              value="<%= listing.price %>"
              type="number"
              step="0.01"
              class="form-control"
              id="price"
              required
            />
            <div class="invalid-feedback">Price should be valid</div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              name="listing[country]"
              value="<%= listing.country %>"
              type="text"
              class="form-control"
              id="country"
              required
            />
            <div class="invalid-feedback">country name should be valid</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            name="listing[location]"
            value="<%= listing.location %>"
            type="text"
            class="form-control"
            id="location"
            required
          />
          <div class="invalid-feedback">location should be valid</div>
        </div>
        <button type="submit" class="btn btn-dark edit-btn mt-3">Edit</button>
        <br /><br />
      </form>
      <br /><br />
    </body>
  </div>
</div>